.customer {
    @include display();
    flex-direction: row-reverse;
    padding-bottom: 150px;
}
.customer__content {
    width: 486px;
    height: 427px;
    position: relative;
    z-index: 2;
}
.custom__span {
    @include textStyle($fontSize:16px, $fontWeight:600);
    margin-bottom: 8px;
}
.custom__tytle {
    @include textStyle($fontSize:32px, $fontWeight:700);
    margin-bottom: 23px;
}
.custom__content-p{
    width: 486px;
    height: 78px;
}
.custom__content-text{
    @include textStyle();
    margin-bottom: 30px;
}
.custom__content {
    @include display($space:none);
    margin-bottom: 30px;
    width: 450px;
}
.sell__text1 {
    @include textStyle();
}
.sell__text2 {
    @include textStyle();
}
.sell__text3 {
    @include textStyle();
}
.custom__icon{
    margin-right: 30px;
}
.sell__text1-p{
    width: 365px;
    height: 52px;
}
.sell__text2-p{
    width: 325px;
    height: 52px;
}
.sell__text3-p{
    width: 325px;
    height: 52px;
}
@media (max-width:1107px){
    .customer{
        flex-direction: column;
    }
    .custom{
        width: 100%;
        margin-top: 50px;
        text-align: center;
        display: inline-block;
        margin: 0 auto; 
    }
    .custom__content-p{
        display: block;
        margin: 0 auto; 
    }
    .ul{
        display: inline-block;
        margin: 0 auto; 
    }
    .custom__tytle {
        margin-bottom: 16px;
    }
    .custom__img{
        display: inline-block;
    }
    .manage{
        height: 255px;
    }
}
@media (max-width:885px){
    // .custom{
    //     flex-direction: column;
    // }
    // .custom{
    //     width: 100%;
    //     margin-top: 50px;
    //     text-align: center;
    // }
    // .custom > .sell{
    //     width: 100%;
    //     margin: 0 auto;
    //     text-align: center;
    // }
}
@media (max-width:620px){
//   .sell{
//     display: inline-block;
//   }
}