.managment {
    @include display();
    padding-bottom: 150px;
}
.managment__content {
    width: 486px;
    height: 435px;
}
.manage__span {
    @include textStyle($fontSize:16px, $fontWeight:600);
    margin-bottom: 8px;
}
.manage__tytle {
    @include textStyle($fontSize:32px, $fontWeight:700);
    margin-bottom: 131px;
}
.manage__content {
    width: 486px;
    height: 90px;
}
.manage__content + .manage__content{
    margin-bottom: 25px;
}
.info__tytle1 {
    @include textStyle($fontSize:16px, $fontWeight:600);
    margin-bottom: 12px;
}
.info__text {
    @include textStyle();
}
.info__tytle2 {
    @include textStyle($fontSize:16px, $fontWeight:600);
    margin-bottom: 12px;
}