.product-section {
    background-image: url("../images/product-Bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.services__main-title {
    max-width: 539px;
    margin: 0 auto;
}
.services__product-title {
    max-width: 539px;
    @include textStyle($color:#22343D, $fontSize:32px, $fontWeight:700);
    text-align: center;
    margin-bottom: 66px;
}
.services__product-turlari {
    @include display();
}
.turlari {
    width: 1095px;
    margin: 0 auto;
}
.turlari__services-title {
    margin-top: 30px;
    margin-bottom: 13px;
}
.turlari__services-part{
    width: 240px;
    height: 178px;
}
.services-bottom{
    padding-bottom: 240px;
}
.services-bottom > div{
    margin: 0 auto;
    display: block;
}

.bottom__link {
    @include button();
    width: 175px;
    height: 53px;
}
.bottom__link-text {
    @include textStyle($color:#fff, $fontWeight:700);
}
@media (max-width:955px){
    .turlari{
        flex-direction: column;
        width: 100%;
    }
    .turlari__card{
        align-items: center;
    }
    .turlari__services-part{
        display: block;
        text-align: center;
        justify-content: center;
    }
    .turlari-img{
        margin-left: 90px;
    }
    .services >.services__main-title{
        width: 100%;
    }
    .hizmatlat__product-content{
        width: 100%;
    }
    .product-section {
        background-image: url("../images/product-Bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
@media (max-width:620px){

}