.process-section {
    background-image: url("../../images/process-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.services__main-title {
    width: 539px;
    margin: 0 auto;
}
.services__product-title {
    @include textStyle($color:#22343D, $fontSize:32px, $fontWeight:700);
    text-align: center;
    margin-bottom: 66px;
}
.pro__main-title {
    padding-top: 80px;
}
.pro__product-title {
    width: 348px;
    height: 48px;
    @include textStyle($color:#22343D, $fontSize:32px, $fontWeight:700);
    text-align: center;
    margin: 0 auto;
}
.pro__p-text {
    width: 542px;
    height: 52px;
    margin: 0 auto;
}
.pro__text {
    @include textStyle();
    text-align: center;
}
.holo{
    @include display($space:space-evenly);
    padding-top: 46px;
}
.helper__avator1 {
    @include display();
}
.helper__avator2 {
    @include display();
    flex-direction: row-reverse;
}
.helper__avator3 {
    @include display();
    flex-direction: row-reverse;
}
.helper__avator4 {
    @include display();
}
.helper__avator2, .helper__avator4 > img {
    margin-left: 16px;
}
.helper__border1 {
    @include textStyle();
    max-width: 274px;
    height: 53px;
    border-radius: 26.5px;
    background: #FFF;
    box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.10);
    align-items: center;
    text-align: center;    padding: 16px 0;
}
.helper__border2 {
    @include textStyle();
    max-width: 263px;
    height: 53px;
    border-radius: 26.5px;
    background: #FFF;
    box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.10);
    margin-bottom: 31px;
    text-align: center;     padding: 16px 0;
}
.helper__border3 {
    @include textStyle();
    max-width: 240px;
    height: 53px;
    border-radius: 26.5px;
    background: #FFF;
    box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.10);
    text-align: center;
    flex-direction: row-reverse;     padding: 16px 0;
}
.helper__border4 {
    @include textStyle();
    max-width: 281px;
    height: 53px;
    border-radius: 26.5px;
    background: #FFF;
    box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.10);
    margin-bottom: 31px;
    text-align: center;    padding: 16px 0;
}
.helper__text {
    @include textStyle
}
.process-bottom {
    margin-top: 48px;
}
.p-bottom__link {
    display: block;
    margin: 0 auto;
    &:hover{
        opacity: 0.8;
    }
}
.process-bottom{
    padding-bottom: 150px;
}
.p-bottom__link {
    @include button();
    width: 175px;
    height: 53px;
}
.p-bottom__link-text {
    @include textStyle($color:#fff, $fontWeight:700);
}
@media (max-width:955px){
    
}
@media (max-width:620px){
    .holo{
        flex-direction: column;
    }
    .helper__border3 {
        @include textStyle();
        width: 240px;
        height: 53px;
        flex-direction: row;
    }
    .helper__border4 {
        @include textStyle();
        width: 281px;
        height: 53px;
        flex-direction: row-reverse;
    }
    .pro__product-title{
        width: 100%;
        display: inline-block;
    }
    .pro__p-text{
        display: inline-block;
        width: 100%;
    }
}