.process-section {
    background-image: url("../../images/process-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.services__main-title {
    width: 539px;
    margin: 0 auto;
}
.services__product-title {
    @include textStyle($color:#22343D, $fontSize:32px, $fontWeight:700);
    text-align: center;
    margin-bottom: 66px;
}










.process-section {
}
.process {
}
.process__product-content {
}
.pro {
}
.pro__main-title {
    padding-top: 80px;
}
.pro__product-title {
    width: 348px;
    height: 48px;
    @include textStyle($color:#22343D, $fontSize:32px, $fontWeight:700);
    text-align: center;
    margin: 0 auto;
}
.pro__p-text {
    width: 542px;
    height: 52px;
    margin: 0 auto;
}
.pro__text {
    @include textStyle();
    text-align: center;
}
.process__content {
}
.helper {
}
.holo{
    @include display($space:space-evenly);
    padding-top: 46px;
}
.helper__avator1 {
    @include display();
}
.helper__avator2 {
    @include display();
    flex-direction: row-reverse;
}
.helper__avator3 {
    @include display();
}
.helper__avator4 {
    @include display();
    flex-direction: row-reverse;
}
// .helper__avator1, .helper__avator3 > img {
//     margin-right: 16px;
// }
// .helper__avator1 > img{
//     margin-right: 20px;
// }
// .helper__avator1{
//     margin-left: 50px;
// }
.helper__avator2, .helper__avator4 > img {
    margin-left: 16px;
}
.helper__border1 {
    @include textStyle();
    width: 274px;
    height: 53px;
    border-radius: 26.5px;
    background: #FFF;
    box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.10);
    margin-bottom: 55px;
    align-items: center;
    text-align: center;
}
.helper__border2 {
    @include textStyle();
    width: 263px;
    height: 53px;
    border-radius: 26.5px;
    background: #FFF;
    box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.10);
    margin-bottom: 31px;
    text-align: center;
}
.helper__border3 {
    @include textStyle();
    width: 240px;
    height: 53px;
    border-radius: 26.5px;
    background: #FFF;
    box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.10);
    margin-bottom: 55px;
    text-align: center;
}
.helper__border4 {
    @include textStyle();
    width: 281px;
    height: 53px;
    border-radius: 26.5px;
    background: #FFF;
    box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.10);
    margin-bottom: 31px;
    text-align: center;
}
.helper__text {
    @include textStyle
}
.process-bottom {
}
.p-bottom {
}
.p-bottom__link {
}
.p-bottom__link-text {
}



















.process-bottom{
    padding-bottom: 150px;
}
.p-bottom__link {
    @include button();
    width: 175px;
    height: 53px;
}
.p-bottom__link-text {
    @include textStyle($color:#fff, $fontWeight:700);
}